:root {
    --background-color: rgba(84, 84, 84, .8);
    --text-color-1: rgb(255, 224, 244);
    --text-color-2: white;
    --border-color: rgba(61, 61, 61, 0.8);
    --shadow-color: rgba(61, 61, 61, 0.5);
}

html {
    box-sizing: content-box;
    min-width: 500px;
    background: radial-gradient(#e66465, #9198e5);
}

.wrapper {
    max-width: 500px;
    margin: 0 auto;
    padding: 3vh 5vw 5vh 5vw;
    width: 80%;
    height: 80%;
    background-color: var(--background-color);
    box-shadow: 10px 5px 50px var(--shadow-color);
}

.header {
    color: var(--text-color-1);
    font-size: 5vh;
    text-align: right;
    margin-bottom: 2vh;
}

.simple-text {
    color: var(--text-color-2);
    text-align: right;
}

.container img {
    display: block;
    margin: 0 auto;
    margin-top: 2vh;
    margin-bottom: 15px;
}

.minecraft-link, .minecraft-link img {
    width: 2vw;
    display: block;
    margin: 0 auto;
}

.bottom {
    margin-top: 65%;
    text-align: right;
}

.footer{
    max-width: 500px;
    width: 80%;
    margin: 0 auto;
    background-color: var(--background-color);
    padding: 3vh 5vw 5vh 5vw;
    border-top: solid var(--border-color) 1px;
    box-shadow: 10px 5px 50px var(--shadow-color);
}